body {
    background-image: url('pics/HonoredBackgrounds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
        display: flex;
        justify-content: space-around;
        background-color: #333;
        color: white;
        padding: 20px;
      }
      nav a {
        text-decoration: none;
        color: white;
      }
      .button {
        display: inline-block;
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid white;
      }
      .button:hover {
        background-color: white;
        color: #333;
      }
      .secondary-button {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: 1px solid white;
      }
      .secondary-button:hover {
        background-color: white;
        color: #333;
      }
 
@font-face {
    font-family: 'JJK';
    src: url(docs/font/jjk/jjk2/JujutsuKaisen.ttf);
    font-style: normal;
    font-weight: 100;
}

html {
    font-family: JJK;
    font-weight: 100;
}